@font-face {
    font-family: "BodegaSans-Light";
    src: url("./assets/fonts/BodegaSans_LightOldstyle.ttf");
}
@font-face {
    font-family: "LibreFranklin-Thin";
    src: url("./assets/fonts/LibreFranklin-Thin.ttf");
}

:root {
    --gold: #c29824;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    color: white;
    background-color: black;
    font-family: "LibreFranklin-Thin", sans-serif;
}

/* NAVBAR */
.navbar__container {
    position: sticky;
    width: 100%;
    top: 0;
    height: 130px;
    display: flex;
    align-items: center;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 100%);
    pointer-events: none;
    z-index: 1;
}

.navbar__logo-container {
    flex-grow: 1;
    margin-left: 100px;
}

.navbar__logo-container img {
    width: 160px;
}

.navbar__links {
    display: flex;
    gap: 88px;
    font-size: 15px;
}

.navbar__links li {
    list-style-type: none;
}
.navbar__links li a {
    color: white;
    text-decoration: none;
    pointer-events: all;
}
.navbar__links li a:hover {
    color: var(--gold);
    transition-property: color;
    transition-duration: 300ms;
}

.navbar__icons-container {
    margin-left: 84px;
    margin-right: 100px;
    display: flex;
    gap: 30px;
    cursor: pointer;
    pointer-events: all;
}

/* FOOTER */
.footer-wrapper {
    overflow: hidden;
    position: relative;
}

.footer__main-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column-reverse;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 45%,
        rgba(0, 0, 0, 0.6) 65%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

.footer__grid {
    padding: 100px;
    display: grid;
    grid-template-columns: 4fr 5fr;
    row-gap: 40px;
}

.footer__logo {
    width: 160px;
}

.footer__subscribe-section {
    font-size: 28px;
    display: flex;
    gap: 28px;
    align-items: center;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 30px;
}

.footer__contact-icons {
    display: flex;
    gap: 30px;
}
.footer__contact-icons > * {
    cursor: pointer;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__links li {
    list-style-type: none;
}

.footer__links a {
    color: white;
    text-decoration: none;
}
.footer__links li a:hover {
    color: var(--gold);
    transition-property: color;
    transition-duration: 300ms;
}
