button {
    text-transform: uppercase;
    background: transparent;
    font-size: 21px;
    color: var(--gold);
    border: 2px var(--gold) solid;
    height: 52px;
    padding: 0 40px;
    background-color: rgba(0, 0, 0, 0.8);
}

button:hover {
    background-color: var(--gold);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

/* PLAY ICON (Videos) */
.play-icon__container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-icon__container img {
    width: 35px;
    height: 35px;
    z-index: 1;
}
.play-icon__background {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    transition-property: all;
    transition-duration: 500ms;
}

input {
    background-color: transparent;
    color: white;
    border: 1px #bebebe solid;
    outline: none;
    padding: 22px 21px 16px 21px;
    font-size: 20px;
}

input::placeholder {
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
}
