body {
    height: auto;
    background-repeat: no-repeat;
    position: relative;
}

.headline__container {
    height: 670px;
    position: relative;
    background-image: url("./assets/img/header-podcast.jpg");
    background-size: cover;
}

.headline__gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, black, transparent);
}

.headline__content {
    margin-left: 200px;
    color: white;
    position: absolute;
    width: 650px;
    bottom: 4rem;
}

.headline__title {
    color: var(--gold);
    font-size: 72px;
    font-family: "BodegaSans-Light";
}
.headline__subtitle {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
}
.headline__description {
    padding-top: 20px;
    font-size: 20px;
    line-height: 36px;
}

/* EPISODES HEADER */
.episodes__header {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 70px;
}
.episodes__main-title-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.separator {
    border-radius: 2px;
    width: 56px;
    height: 3px;
    background-color: white;
    opacity: 25%;
}
.episodes__main-title {
    color: var(--gold);
    font-family: BodegaSans-Light;
    font-size: 72px;
}
